.container {
  border-radius: 12px;
  background-color: white;
  margin: 24px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}


.form {
  background-color: white;
  box-shadow: 0 0 2px #ccc;
  padding: 16px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
}